* {
    box-sizing: border-box;
  }

body {
    background-color:#181818;
    height: 100%;
    padding: 0;
    margin: 0;
}

a:link, a:visited {
    color: #9CFF00;
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    padding: 10px;
  }

  .ak-container{
      color: #ffffff;
  }

.title{
    text-align:center;
    color: #9CFF00;
    font-weight: 800;

}

.subtitle{
    text-align:center;
    color:#ffffff;
    padding: 10px;
}

.name-text {
    text-align:center;
    display: inline;
    color: #9CFF00;
    padding: 10px;
}

.team-container {
    background-color: rgba(0, 0, 0, 0.747);
    padding: 20px;
    width: 55%;
    margin-top: 20px;
    text-align:center;
}

.user-block{
    border: 1px solid;
    border-color: black;
    background-color: rgb(24, 26, 29)
}


img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 10px round;
    border-radius: 100px;
    padding: 5px;
}
.ak-container {
    margin-top: 30px;
    background-color:  rgba(0, 0, 0, 0.747);
    align-content: center;
    text-align:center;
}
.ak-row2 {
    background-color: rgba(0, 0, 0, 0.747);
    padding: 5px;
    border: 1px solid;
    border-color: black;
}
.ak-row1 {
    background-color: rgb(24, 26, 29);
    padding: 10px;
    border: 1px solid;
    border-color: black;
}

.footer {
    position: relative;
    right: 0px;
    bottom: 0px;
    left: 0px;
    min-height: 100px;
    background: #080808;
  }

.footer > .bottom {
    position: relative;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
  }

.btn-footer1 {
    position: relative;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align:center;
    align-items: center;
    width: 50%;
    min-width: 120px;
    background-color: #313C53; 
    color: rgb(255, 255, 255);
    border: 14px solid round;
    border-color: #9CFF00;
    border-radius: 7px;
}

.btn-footer2 {
    position: relative;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align:center;
    align-items: center;
    width: 75%;
    min-width: 200px;
    background-color: #313C53; 
    color: rgb(255, 255, 255);
    border: 14px solid round;
    border-color: #9CFF00;
    border-radius: 7px;
}

.footer-txt {
    margin-top: 10px;
  }