* {
    box-sizing: border-box;
  }

body {
    background-color:#181818;
    height: 100%;
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    color: #9CFF00;
}

.sub-title {
    text-align: center;
    color: floralwhite;
}

.legend-title {
    text-align: center;
    color: #9CFF00;
    padding-top: 10px;
}

.move-my-bubbles {
    position: absolute;
    color: white;
    margin-left: 7%;
    margin-top: 20%;
}

#index-subtitle-bullet {
    margin-top: 0%;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 150px;          
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightgrey; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;    
    text-transform: capitalize; 
  }
.year-label{
    color:#9CFF00;
}

option{
    color:#ffffff
}

#sunburst-year {
    background-color:#000000;
    color:#ffffff;
}

.legend-container {
    padding-top:10px;
    vertical-align: center;
    width:50%;
    margin-left:25%;
    padding-bottom:5px;
    background-color:#000;
    border: 3px round;
    border-radius: 10px;
}

.legend-row {
    text-align: center;
    vertical-align: middle;
}

#button-container {
    padding-top: 30px;
    padding-bottom:20px;
    position: relative;
    text-align:center;
}

.sunburst {
    position:relative;
    width:100%;
    height:400px;
}

.sunburst-title-text{
    fill:white;
}

.bullet-container{
    position:relative;
    margin-top: 10px;
    padding: 20px 10px;
    width: 90%; 
    min-width:480px; 
    min-height:400px; 
    max-height:900px;
    background-color:black;
}

.bullet { font: 10px sans-serif; fill:#ffffff;}
.bullet .marker { stroke: #9CFF00; stroke-width: 2px; }
.bullet .tick line { stroke: #9CFF00; stroke-width: .5px; }
.bullet .range.s0 { fill: #181818; }
.bullet .range.s1 { fill: #302e2e; }
.bullet .range.s2 { fill: #4b4b4b; }
.bullet .measure.s0 { fill: rgb(64, 156, 64); }
.bullet .measure.s1 { fill: rgb(3, 82, 0); }
.bullet .title { font-size: 14px; font-weight: bold; fill: #ffffff;}
.bullet .subtitle { fill: #999; } 

.sb-controls {
    position: relative;
    /* padding-top: 1px; */
    margin-top: -45px;
    font-size: 14.5px;
    color: #ffffff;
    opacity: 0.3;
    transition: 0.3s;
}

.sb-controls:hover {
    opacity: 1;
}

.fg-controls {
    position: relative;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    opacity: 0.3;
    transition: 0.3s;
    margin-top: -10px;
}

.fg-controls:hover {
    opacity: 1;
}
.control-title{
    color: #9CFF00; 
    font-size: 16px;
    padding-top: 4px;
    padding-left: 10px;
}

.instructions {
    position: relative;
    display: inline;
    padding-top: 10px;
    color: #ffffff;
    opacity: 1;
    text-align:center;
}

#fg-inst {
    position:relative;
    margin-top: 10px;
    padding-top: 10px;
}
a:link, a:visited {
    color: #9CFF00;
}

.wrapper {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    padding-bottom: 100px;
    overflow: hidden;
  }

.footer {
    position: relative;
    right: 0px;
    bottom: 0px;
    left: 0px;
    min-height: 100px;
    background: #080808;
  }

.footer > .bottom {
    position: relative;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
  }

.btn-footer1 {
    position: relative;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align:center;
    align-items: center;
    width: 50%;
    min-width: 120px;
    background-color: #313C53; 
    color: rgb(255, 255, 255);
    border: 14px solid round;
    border-color: #9CFF00;
    border-radius: 7px;
}

.btn-footer2 {
    position: relative;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align:center;
    align-items: center;
    width: 75%;
    min-width: 200px;
    background-color: #313C53; 
    color: rgb(255, 255, 255);
    border: 14px solid round;
    border-color: #9CFF00;
    border-radius: 7px;
}

.footer-txt {
    margin-top: 10px;
  }

@media (max-width: 750px) {
    .move-my-bubbles {
        position: relative;
        color: white;
        margin-top: 10%;
        margin-left: 0%;
        text-align: center;
    }
}