body {
    background-color: #e7ffc7;
}

/* 
.node circle {
    pointer-events: all;
    stroke: #777;
    stroke-width: 1px;
  }


  div.tooltip {
  position: absolute;
  background-color: white;
  max-width: 200px;
  height: auto;
  padding: 1px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  pointer-events: none;
} */


div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 150px;          
    /*height: 28px;         */
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightgrey; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
  }

.force-graph {
    border: 1px solid;
    border-color: black;
}





.container {
    background-color: #fff4ce;
}

#button-container {
    position: relative;
    left: 40%;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }