<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body>
    <p> Insert About Us</p>
    <ul>
        <li>Andrew</li>
        <li>Mikey</li>
        <li>Pratik</li>
        <li>Zane</li>
    </ul>

    <h1>Acknowledgements:</h1>
    <ul>
        <li> Spotify: https://www.spotify.com/us/</li>
        <li> Network Map: </li>
        <li> Sunburst:</li>
    </ul>
</body>
</html>