<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <p> Insert About Us</p>
    <ul>
        <li>Andrew</li>
        <li>Mikey</li>
        <li>Pratik</li>
        <li>Zane</li>
    </ul>

    <h1>Acknowledgements:</h1>
    <ul>
        <li> Spotify: https://www.spotify.com/us/</li>
        <li> Network Map: </li>
        <li> Sunburst:</li>
    </ul>








    <footer class="footer">
        <span class="bottom">
            <div class="footer-text row">
            <div class="col-md-6 footer-btn-container">
                <div class="row">
                <div class="col-md-2">
                <a class="btn btn-footer" href="/" role="button">Home</a>
                </div>            
                <div class="col-md-2">
                <a class="btn btn-footer" href="/table" role="button">Table</a>
                </div>            
                <div class="col-md-2">
                <a class="btn btn-footer" href="/aboutus" role="button">About Us</a>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>&copy 2019 Andrew Sooklall, Michael Esteban, Pratik Pathak, Zane Lynch </p>
            </div>
            </div>
            <div class="footer-text row">
            <div class="col-md-6">
                <p></p>
            </div>            
            <div class="col-md-6">
                <p>We claim no rights to the data provided by <a href="https://www.spotify.com/us/" target="blank">Spotify</a> or other IP used in the creation of this script. 
                <br>A full list of Acknowledgements can be found <a href="/aboutus">here.</a></p>
            </div>          
            </div>
        </span>
        </footer>

</body>
</html>