<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Visualization</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->



</head>



<body>
    <!-- <div class="container"> -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="title" id="index-title">Spotify Data Visualization</h1>
                <br>
                <h3 class="sub-title" id="index-subtitle">Songs by Genre</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="force-graph">                            
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row legend-row" id="legend-row1">
                <div class="col-md-3 legend-text">
                    <p style="color:red;"><b>Genre 1234</b></p>
                </div>
                <div class="col-md-2 legend-text">
                    <p style="color:blue;"><b>Genre 1234</b></p>
                </div>
                <div class="col-md-2 legend-text">
                    <p style="color:pink;"><b>Genre 1234</b></p>
                </div>
                <div class="col-md-2 legend-text">
                    <p style="color:brown;"><b>Genre 1234</b></p>
                </div>
                <div class="col-md-3 legend-text">
                    <p style="color:green;"><b>Genre 1234</b></p>
                </div>
            </div>
            <div class="row legend-row" id="legend-row2">
                <div class="col-md-3 legend-text">
                    <p style="color:yellow;"><b>Genre 1234</b></p>
                </div>
                <div class="col-md-2 legend-text">
                    <p style="color:orange;"><b>Genre 1234</b></p>
                </div>
                <div class="col-md-2 legend-text">
                    <p style="color:purple;"><b>Genre 1234</b></p>
                </div>
                <div class="col-md-2 legend-text">
                    <p style="color:red;"><b>Genre 1234</b></p>
                </div>
                <div class="col-md-3 legend-text">
                    <p style="color:red;"><b>Genre 1234</b></p>
                </div>
            </div>
        </div>
        <div class="row" id="button-container">
            <div class="dropdown">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sub-title" id="index-subtitle">Sunburst Visualization</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p id="sunburst-year">2017</p>
            </div>
            <div class="col-md-2">
                <p id="sunburst-year">2018</p>
            </div>
            <div class="col-md-2">
                <p id="sunburst-year">2019</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="sunburst">
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="sub-title" id="index-subtitle-bullet">Bullet Chart</h3>
                <div class="container" style='width: 480px'>
                    <div class="bullet-chart">
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <h3 class="sub-title" id="index-subtitle">Bullet Chart</h3>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="bullet-chart">
                </div>
            </div>
        </div> -->
    <!-- </div> -->














    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <!-- <script src="static/js/app.js"></script> -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sunburst.js') }}"></script>

</body>
</html>
