<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Spotify Data Table</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/table.css">
</head>

<body>

  <div class="wrapper">
    <div class="title text-center">
      <h1 id="title-t1">Spotify Song Visualization</h1>
      <h3 id="subtitle-t1">Table Data</h3>
    </div>
    <div class="container-fluid">
      <div class="row margin-top-50">
        <div class="col-md-12">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <form>
                  <div class="form-group row">
                    <div class="form-cell col-md-3">
                        <label for="song">Song Name</label>
                        <input class="form-control" id="songs" type="text" placeholder="Song Name">
                    </div>
                    <div class="form-cell col-md-3">
                        <label for="artist">Artist Name</label>
                        <input class="form-control" id="artists" type="text" placeholder="Artist Name">
                    </div>
                    <div class="form-cell col-md-3">
                        <label for="genre">Genre</label>
                        <input class="form-control" id="genres" type="text" placeholder="Genre">
                    </div>
                    <div class="form-cell col-md-3">
                        <label for="year">Year</label>
                        <input class="form-control" id="years" type="text" placeholder="201X">
                    </div>

                  </div>
                  <div class="col-md-12">
                    <button id="filter-btn" type="submit" class="btn btn-default">Filter Table</button>
                  </div>
                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-12">
          <div id="spotify-table-container" class="table-container table-responsive">
            <table id="spotify-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Acousticness</th>
                  <th class="table-head">Artists</th>
                  <th class="table-head">Danceability</th>
                  <th class="table-head">Duration (ms)</th>
                  <th class="table-head">Energy</th>
                  <th class="table-head">Genre</th>
                  <th class="table-head">ID</th>
                  <th class="table-head">Index</th>
                  <th class="table-head">Instrumentalness</th>
                  <th class="table-head">Key</th>
                  <th class="table-head">Liveness</th>
                  <th class="table-head">Loudness</th>
                  <th class="table-head">Mode</th>
                  <th class="table-head">Name</th>
                  <th class="table-head">Popularity</th>
                  <th class="table-head">Speechiness</th>
                  <th class="table-head">Tempo</th>
                  <th class="table-head">Time Signature</th>
                  <th class="table-head">Valence</th>
                  <th class="table-head">Year</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <span class="bottom">
        <div class="footer-text row">
          <div class="col-md-6 footer-btn-container">
            <div class="row">
            <div class="col-md-2">
            </div>               
            <div class="col-md-2">
              <a class="btn btn-footer1" href="/" role="button">Home</a>
            </div>            
            <div class="col-md-2">
              <a class="btn btn-footer1" href="/table" role="button">Table</a>
            </div>            
            <div class="col-md-2">
              <a class="btn btn-footer1" href="/aboutus" role="button">About Us</a>
            </div>
            </div>
          </div>
          <div class="col-md-6 footer-txt">
            <p>&copy 2019 Andrew Sooklall, Michael Esteban, Pratik Pathak, Zane Lynch </p>
          </div>
        </div>
        <div class="footer-text row">
          <div class="col-md-6">
            <a class="btn btn-footer2" href="https://github.com/ASooklall/project-2-spotify" target="blank" role="button">Spotify Data Visualization Github Repository</a>
          </div>            
          <div class="col-md-6 footer-txt">
            <p>We claim no rights to the data provided by <a href="https://www.spotify.com/us/" target="blank">Spotify</a> or other IP used in the creation of this script. 
              <br>A full list of Acknowledgements can be found <a href="/aboutus">here.</a></p>
          </div>          
        </div>
      </span>
    </footer>

  </div>


  
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="static/js/table.js"></script>
</body>

</html>
