<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UFO Finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/table.css">
</head>

<body>
    <div class="test">

    </div>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="index.html">UFO Sightings
            <img class="nav-ufo" src="static/images/ufo.svg">
          </a> -->
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>Spotify Song Visualization</h1>
      <p>Table Data</p>
    </div>
    <!-- <div class="container"> -->
      <div class="row margin-top-50">
        <div class="col-md-12">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <!-- <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="song">Song Name</label>
                        <input class="form-control" id="songs" type="text" placeholder="Song Name">
                      </li>
                      <li class="filter list-group-item">
                        <label for="artist">Artist Name</label>
                        <input class="form-control" id="artists" type="text" placeholder="Artist Name">
                      </li>
                      <li class="filter list-group-item">
                        <label for="genre">Genre</label>
                        <input class="form-control" id="genres" type="text" placeholder="Genre">
                      </li>
                      <li class="filter list-group-item">
                        <label for="year">Year</label>
                        <input class="form-control" id="years" type="text" placeholder="201X">
                      </li>
                    </ul>                     -->

                    <div class="form-cell col-md-3">
                        <label for="song">Song Name</label>
                        <input class="form-control" id="songs" type="text" placeholder="Song Name">
                    </div>
                    <div class="form-cell col-md-3">
                        <label for="artist">Artist Name</label>
                        <input class="form-control" id="artists" type="text" placeholder="Artist Name">
                    </div>
                    <div class="form-cell col-md-3">
                        <label for="genre">Genre</label>
                        <input class="form-control" id="genres" type="text" placeholder="Genre">
                    </div>
                    <div class="form-cell col-md-3">
                        <label for="year">Year</label>
                        <input class="form-control" id="years" type="text" placeholder="201X">
                    </div>

                  </div>
                  <div class="col-md-12">
                    <button id="filter-btn" type="submit" class="btn btn-default">Filter Table</button>
                  </div>
                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-12">
          <div id="spotify-table-container" class="table-container">
            <table id="spotify-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Acousticness</th>
                  <th class="table-head">Artists</th>
                  <th class="table-head">Danceability</th>
                  <th class="table-head">Duration (ms)</th>
                  <th class="table-head">Energy</th>
                  <th class="table-head">Genre</th>
                  <th class="table-head">ID</th>
                  <th class="table-head">Index</th>
                  <th class="table-head">Instrumentalness</th>
                  <th class="table-head">Key</th>
                  <th class="table-head">Liveness</th>
                  <th class="table-head">Loudness</th>
                  <th class="table-head">Mode</th>
                  <th class="table-head">Name</th>
                  <th class="table-head">Speechiness</th>
                  <th class="table-head">Tempo</th>
                  <th class="table-head">Time Signature</th>
                  <th class="table-head">Valence</th>
                  <th class="table-head">Year</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    <!-- </div> -->
    <footer class="footer">
      <span class="bottom">&copy 2019 Andrew Sooklall, Michael Esteban, Pratik Pathak, Zane Lynch <br> We claim no rights to the data provided by <a href="https://www.spotify.com/us/" target="blank">Spotify</a> or other IP used in the creation of this script. A full list of Acknowledgements can be found <a href="/aboutus">here.</a></span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="static/js/table.js"></script>
</body>

</html>
